button {
  width: 140px;
  margin: 2px 10px 2px 10px;
}

.main-header {
  background-color: grey;
  color: white;
}

.left {
  width: 13%;
  height: 100%;
  position: fixed;
  outline: 1px solid;
  padding: 10px 10px 10px 10px;
  background-color: silver;
}
.right {
  width: 87%;
  height: 100%;
  outline: 1px solid;
  position: absolute;
  right: 0;
  padding: 10px 10px 10px 10px;
}

.axis--x path {
  display: none;
}

body {
  font-family: "Cabin", "Roboto Condensed";
  font-size: 13px;
  /*font-weight: bold;*/
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.officeHourline {
  fill: none;
  /*stroke-width: 1.5px;*/
}

.officeHourlineMin {
  fill: none;
  /*stroke-width: 1.5px;*/
}

.officeHourlineMax {
  fill: none;
  /*stroke-width: 1.5px;*/
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: "Cabin", "Roboto Condensed", sans-serif;
  font-size: 15px;
}

/*------------------------------------------------------------------------------------*/
/* BOX PLOT CSS*/
/*------------------------------------------------------------------------------------*/

.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: steelblue;
  stroke: #000;
  stroke-width: 1px;
}

.box .center {
  stroke-dasharray: 3, 3;
}

.box .outlier {
  fill: none;
  stroke: #000;
}

.axis {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6f257f;
  padding: 14px;
  text-align: center;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ededed;
  overflow-x: hidden;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

.text-body {
  height: 100px;
  width: 140px;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  background-color: white;
  color: black;
  overflow-y: scroll;
}

.cluster-text-name {
  font-size: 10px;
}

h4,
h5,
.radio-distance {
  margin: 5px 10px 5px 10px;
}

.navbarElements {
  margin: 10px 10px 10px 10px;
  display: block;
}

.bar--positive {
  fill: steelblue;
}

.bar--negative {
  fill: brown;
}
